*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    width: 80%;
    margin: auto;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.611);
    align-items: center;
}

header>nav{
    height: 60px;
    width: 100%;
    background-color: rgba(233, 89, 89, 0.637);
}

.menu{
    width: 80%;
    height: 100%;
    border: 1px dotted black;
    margin: 0 auto;
}

.logo,.access{
    border: 1px dotted black;
    width: 20%;
}

section{
    height: 500px;
    width: 100%;
}

.xl{
    height: 900px;
}

.hero{
    background-color: rgba(88, 88, 238, 0.759);
}

.hero_image{
    height: 300px;
    width: 80%;
    background-color: rgb(169, 164, 164);
    margin: auto;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(254, 204, 55, 0.887);
    width: 80%;
    height: 400px;
    margin: auto;
}

.container_large{
    background-color: rgba(254, 204, 55, 0.887);
    width: 80%;
    height: 800px;
    margin: auto;
}

.row{
    background-color: rgb(164, 76, 9);
    height: 350px;
    width: 100%;
    align-self: center;
    justify-content: space-between;
}

.col{
    background-color: rgb(55, 186, 55);
    height: 80%;
    align-self: center;
}

.large{
    width: 60%;
}

.small{
    width: 40%;
}

.card{
    background-color: lightblue;
    width: 100%;
    margin: 2rem;
}


footer{
    background-color: blue;
    margin-top: 30px;
    height: 500px;
    width: 100%;
}

footer>div{
    height: 500px;
}

.col_f{
    background-color: rgb(55, 186, 55);
    height: 80%;
    align-self: center;
}

.l{
    width: 28%;
    height: 60%;
}

.s{
    width: 16%;
    height: 60%;
}

/* utility */

.flex_container{
    display: flex;
}
